{% extends 'base.html'%}
{% block head %}
<title>Task Manager
</title>
{% endblock %}

{% block body %}
<div class="content"> 

    <h1 style="text-align: center;">Task Manager</h1>
    {% if tasks|length <1 %}
    <h3 style="text-align: center;"> No tasks Added. Create a task</h3>
    {% else %}
    <table>
        <tr>
            <th>
                Task
            </th>
            <th>
                Added
            </th>
            <th>
                Actions
            </th>
        </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date()}}</td>
            <td>

                <a href="/delete/{{ task.id }}">Delete</a>
                <br>
                <a href="/update/{{ task.id }}">Update</a>
            </td>
        </tr>
    {% endfor %}    
    </table>
    {% endif %}
    <FORM action="/" method="POST">
        <INPUT type="text" name="content" id ="content">
        <input type="submit" value="Add Task">   
    </FORM>
</div>
{% endblock %}